{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>POK Logowanie</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/lapka.png' %}">
</head>
<body>

{% block content %}
    <div class="limiter">
        <div class="container-glowna">
            <div class="wrap-glowna">
                <h1>Zmiana hasła</h1>
                <br/><br/>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <p><label for="id_old_password">Stare Hasło:</label> <input type="password" name="old_password"
                                                                                    class="form-control" required
                                                                                    id="id_old_password"></p>
                        <p><label for="id_new_password1">Nowe Hasło:</label> <input type="password" name="new_password1" minlength="8"
                                                                                    class="form-control" maxlength="100"
                                                                                    required id="id_new_password1"></p>
                        <p><label for="id_new_password2">Powtórz Hasło:</label> <input type="password"
                                                                                       name="new_password2"
                                                                                       class="form-control"
                                                                                       maxlength="100" required  minlength="8"
                                                                                       id="id_new_password2"></p>
                        <button class="btn btn-secondary">Zmień hasło
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
