{% extends 'base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="pl">
<head>
	<title>POK Logowanie</title>
	<meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/lapka.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/logowanie.css' %}">
</head>
<body>

 {% block content %}
        </div>
        <h1>Zmiana hasła</h1>
        <br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <p><label for="id_old_password">Stare Hasło:</label> <input type="password" name="old_password" class="form-control" required id="id_old_password"></p>
                <p><label for="id_new_password1">Nowe Hasło:</label> <input type="password" name="new_password1" class="form-control" maxlength="100" required id="id_new_password1"></p>
                <p><label for="id_new_password2">Powtórz Hasło:</label> <input type="password" name="new_password2" class="form-control" maxlength="100" required id="id_new_password2"></p>
                <button class="btn btn-secondary">Zmień hasło
                </button>
        </form>
       </div>
{% endblock %}

	<script src="{% static 'js/main.js' %} "></script>

</body>
</html>
