{% load static %}
<!DOCTYPE html>

<html lang="pl">
<head>
    <title>Pokochaj Zwierzaka</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/glowna.css' %}">
    <script type="text/javascript" src="{% static 'js/glowna.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

<div class="limiter-nav">
    <div class="container-nav">
        <div class="wrap-nav">
            <div class="nav">
    <ul>
        <li>
            <img src="{% static 'images/lapka.png' %}" alt="IMG">
        </li>
        <li>
            <p>Pokochaj<br>zwierzaka</p>
        </li>
        <li><p><a href="#">Baza psów</a></p></li>
        <li><p><a href="#">Dopasuj do siebie psa</a></p></li>
        <li>
            <div class="container-nav-btn">
                <button class="nav-btn">
                    <a href="#">Twoje konto</a>
                </button>
            </div>
            <div class="container-nav-btn">
                <button class="nav-btn">
                    {% if user.is_authenticated %}
                        <a href="{% url 'index' %}">Wyloguj się</a>
                    {% else %}
                        <a href="{% url 'index' %}">Zaloguj się</a>
                    {% endif %}
                </button>
            </div>
        </li>
    </ul>
            </div>
        </div>
    </div>
</div>



<div class="limiter">
    <div class="container-glowna">
        <div class="wrap-glowna">
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
            <p>Hejka, inny contence - przeglądanie psów</p>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">
    <img src="{% static 'images/strzalka.png' %}" alt="IMG">
</button>

</body>
</html>