{%load static%}
<!DOCTYPE html>
<html lang="pl">
<head>
	<title>Pokochaj Zwierzaka Logowanie</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/logowanie.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/lapka.png' %}" alt="IMG">
				</div>

				<form action = "" class="login100-form validate-form" , method = 'POST'>
					{% csrf_token %}

					<span class="login100-form-title">
						Logowanie
					</span>


					<div class="wrap-input100 validate-input" data-validate = "username must be 4 to 8 character">
						<input class="input100" type="text" name="username" placeholder="Login">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Hasło">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Zaloguj się
						</button>
					</div>
					<div class="alert">
						{% for message in messages %}
						<h3>{{message}}</h3>
						{%endfor%}
					</div>
                    <div class="XD">
                    </div>
					<div class="text-center p-t-136">
						<a class="txt2" href="{{'register'}}">
							Stwórz nowe konto
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="{% static 'js/main.js' %} "></script>

</body>
</html>