{% load static %}
<!DOCTYPE html>

<html lang="pl">
<head>
    <title>POK Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}">
    <link rel="icon" href="{% static 'images/lapka.png' %}">
    <script type="text/javascript" src="{% static 'js/profil.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

<div class="limiter-nav">
    <div class="container-nav">
        <div class="wrap-nav">
            <div class="nav">
    <ul>
        <li>
            <img src="{% static 'images/lapka.png' %}" alt="IMG">
        </li>
        <li>
            <p>Pokochaj<br>zwierzaka</p>
        </li>
        <li><p><a href="{% url 'home' %}">Baza psów</a></p></li>
        <li><p><a href="{% url 'matching' %}">Dopasuj do siebie psa</a></p></li>
        <li>
            <div class="container-nav-btn">
                <button class="nav-btn">
                    <a href="profile">Twoje konto</a>
                </button>
            </div>
            <div class="container-nav-btn">
                <button class="nav-btn">
                    {%  block content %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Wyloguj się</a>
                        {% else %}
                            <a href="{% url 'index' %}">Zaloguj się</a>
                        {% endif %}
                    {%  endblock %}
                </button>
            </div>
        </li>
    </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="left">
        <img src="{% static 'images/user.png' %}" alt="IMG"
        alt="user" width="100">
        <h4></h4>
         <p><h2>Witaj {{ user.username }}!</h2></p>
    </div>
    <div class="right">
        <div class="info">
            <h2>Informacje</h2>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <h5>{{ user.email }}</h5>
                     <h6><a href="{% url 'logout' %}">Wyloguj się</a></h6>
                     {% if request.user.groups.all.0.name != 'schronisko' %}
                            <li><p><a href="{% url 'home' %}">Podanie o nadanie praw schroniska</a></p></li>
                     {% endif %}
                 </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
