{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>POK Strona Główna</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/twoje_psy.css' %}">
    <link rel="icon" href="{% static 'images/lapka.png' %}">
    <script type="text/javascript" src="{% static 'js/glowna.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
{% if request.user.groups.all.0.name == 'schronisko' %}
<div class="limiter-nav">
    <div class="container-nav">
        <div class="wrap-nav">
            <div class="nav">
                <ul>
                    <li>
                        <img src="{% static 'images/lapka.png' %}" alt="IMG">
                    </li>
                    <li>
                        <p>Pokochaj<br>zwierzaka</p>
                    </li>
                    <li><p><a href="{% url 'home' %}">Baza psów</a></p></li>
                    {% if request.user.groups.all.0.name == 'schronisko' %}
                        <li><p><a href="{% url 'create_dog' %}">Dodaj psa</a></p></li>
                        <div>
                            <li><p><a href="{% url 'twoje_psy' %}">Twoje psy</a></p></li>
                        </div>
                    {% else %}
                        <li><p><a href="{% url 'matching' %}">Dopasuj do siebie psa</a></p></li>
                    {% endif %}
                    <li>
                        <div class="container-nav-btn">
                            <button class="nav-btn">
                                <a href="profile">Twoje konto</a>
                            </button>
                        </div>
                        <div class="container-nav-btn">
                            <button class="nav-btn">
                                {% block content %}
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'logout' %}">Wyloguj się</a>
                                    {% else %}
                                        <a href="{% url 'index' %}">Zaloguj się</a>
                                    {% endif %}
                                {% endblock %}
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="limiter">
    <div class="container-glowna">
        <div class="wrap-glowna">

           {% for item in all %}
                    {% if item.shelter_id == user.id %}
                        Imie: {{ item.imie }} <br>
                        Data Urodzenia: {{ item.data_urodzenia }} <br>
                        Rasa: {{ item.rasa }} <br>
                        Charakter: {{ item.charakter }} <br>
                        Specjalne potrzeby: {{ item.specjalne_potrzeby }} <br>
                        Choroby: {{ item.choroby }} <br>
                        Pobyt w schronisku od: {{ item.pobyt_w_schronisku }} <br>
                        Schronisko: {{ item.shelter }} <br>
                        <div class="zdj">
                            <img src="{{ item.fotografia }}"> <br>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</div>



<button onclick="topFunction()" id="myBtn" title="Go to top">
    <img src="{% static 'images/strzalka.png' %}" alt="IMG">
</button>

{% else %}
    <h6>Niestety nie masz dostępu do tej strony</h6>
{% endif %}

</body>
</html>